body {
				font-family: Monospace;
				background-color: #f0f0f0;
				margin: 0px;
				overflow: hidden;
			}
			#oldie { background-color: #ddd !important }
			#menu {
				position: absolute;
				bottom: 20px;
				width: 100%;
				text-align: center;
			}
			button {
				color: rgba(127,0,0,0.75);
				background: transparent;
				outline: 1px solid rgba(127,0,0,0.75);
				border: 0px;
				padding: 5px 10px;
				cursor: pointer;
			}
			button:hover {
				background-color: rgba(255,127,0,0.5);
			}
			button:active {
				color: #000000;
				background-color: rgba(0,255,255,0.75);
			}
			.notice{
				color: red;
			}
			.stats{
				position: absolute;
				top: 20%;
				right:10%;
				text-align: left;
			}